.card-button {
    @apply flex items-center gap-4 p-2 border rounded-lg;
}

.card-button:hover {
    @apply bg-gray-100;
}

html.dark .card-button:hover {
    @apply bg-slate-700;
}

.card-button--completed {
    @apply border-green-500;
}

.card-button--pending {
    @apply border-yellow-500;
}

.card-button--failed {
    @apply border-red-500;
}

.card-button--category {
    --category-color-hover: inherit;
}

.card-button--category:hover {
    background-color: var(--category-color-hover) !important;
}