.task-edit-form {
    @apply bg-white p-6 rounded-lg shadow-md;
}

.form-group {
    @apply mb-4;
}

.form-submit {
    @apply bg-blue-400 text-white py-2 px-4 rounded hover:bg-blue-500;
}

.form-text {
    @apply text-gray-700 mb-2
}

.form-label {
    @apply block text-gray-700 mb-2;
}

.form-input {
    @apply border border-gray-300 p-2 rounded;
}

.form-textarea {
    @apply border border-gray-300 p-2 rounded h-32;
}

.form-select {
    @apply border border-gray-300 p-2 rounded;
}

.md-editor {
    @apply border border-gray-300 rounded;
}

.login-form {
    @apply flex flex-col gap-3 w-full max-w-sm p-6 bg-white rounded-xl shadow-md border border-gray-200
}
.login-form-title {
    @apply text-xl font-semibold text-center mb-2
}

.login-form-input {
    @apply px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400
}

.login-form-submit {
    @apply mt-2 px-4 py-2 rounded-lg bg-green-500 text-white font-medium hover:bg-green-600 disabled:opacity-50 transition
}

.login-form-text {
    @apply text-sm text-center mt-2
}

.login-form-link {
    @apply text-green-500 hover:underline
}

.button-is-daily {
    @apply flex items-center gap-2 px-4 py-2 rounded border transition-all duration-200 font-medium border-green-600 bg-green-50 text-green-700 shadow-sm hover:bg-green-100
}

.button-is-not-daily {
    @apply flex items-center gap-2 px-4 py-2 rounded border transition-all duration-200 font-medium border-gray-300 bg-white hover:bg-gray-50 text-green-700
}

.button-is-daily-icon {
    @apply w-5 h-5 text-green-600
}

.button-is-not-daily-icon {
    @apply w-5 h-5 text-green-600
}

.form-button {
    @apply rounded border gap-2 px-4 py-2 hover:bg-green-50 text-green-700 transition mt-4
}