.task-edit-form {
    @apply bg-white p-6 rounded-lg shadow-md;
}

html.dark .task-edit-form {
    @apply bg-slate-800;
}

.form-group {
    @apply mb-4;
}

.form-submit {
    @apply bg-blue-400 text-white py-2 px-4 rounded hover:bg-blue-500;
}

html.dark .form-submit {
    @apply bg-purple-700 py-2 px-4 rounded hover:bg-purple-800;
}

.form-label {
    @apply block text-gray-700 mb-2;
}

html.dark .form-label {
    @apply text-gray-300;
}

.form-input {
    @apply w-full border border-gray-300 p-2 rounded;
}

html.dark .form-input {
    @apply bg-slate-700 border-slate-600 text-white;
}

.form-textarea {
    @apply w-full border border-gray-300 p-2 rounded h-32;
}

html.dark .form-textarea {
    @apply bg-slate-700 border-slate-600 text-white;
}