.list-button {
    @apply flex items-center gap-4 p-2 border border-gray-200 rounded-lg;
}

.list-button:hover {
    @apply bg-gray-100;
}

.create-button {
    @apply flex items-center gap-2 p-2 text-blue-500 border border-blue-200 rounded-lg;
}

.create-button:hover {
    @apply bg-blue-50;
}

.filter {
    @apply bg-white border border-gray-200 shadow-md rounded-xl px-6 py-4 w-[95%] sm:w-auto
}

.filter h3 {
    @apply text-lg font-semibold text-gray-700 mb-3 text-center sm:text-left
}

.filter label {
    @apply flex items-center gap-2  text-sm text-gray-700
}

.filter div div {
    @apply bg-gray-50 px-3 py-2 rounded-md border hover:bg-gray-100 transition
}

.filter-input {
    @apply border border-gray-300 rounded-md px-2 py-1 text-sm focus:ring-2 focus:ring-blue-500 focus:outline-none
}

.filter-input::placeholder {
    @apply text-gray-700 opacity-75 hover:opacity-100
}