.list-button {
    @apply flex items-center gap-4 p-2 text-gray-500 border border-gray-200 rounded-lg;
}

.list-button:hover {
    @apply bg-gray-100;
}

html.dark .list-button {
    @apply border-gray-700 text-gray-400;
}

html.dark .list-button:hover {
    @apply bg-slate-800;
}

.create-button {
    @apply flex items-center gap-2 p-2 text-blue-500 border border-blue-200 rounded-lg;
}

.create-button:hover {
    @apply bg-blue-50;
}

html.dark .create-button {
    @apply border-blue-700 text-blue-400;
}

html.dark .create-button:hover {
    @apply bg-slate-800;
}